$spent-color: #3979ff;
$earned-color: #29b6ae;
.history-list {
	.history-list-filter {
		display: flex;
		justify-content: space-between;

		.label-checkbox {
			margin: 0.5rem auto;
		}
	}

	.history-item {
		display: grid;
		grid-template-columns: 130px 1fr 80px 120px 50px;
		border-top: 1px solid #555555;
		padding: 1rem 0;

		.hitem-category {
			width: 6rem;
			height: 2rem;
			border-radius: 1.5rem;
			text-align: center;
			color: white;
			font-size: 1.2rem;
			line-height: 2rem;
		}

		.hitem-content {
			flex-grow: 1;
			font-size: 1.2rem;
			line-height: 2rem;
		}

		.hitem-payment {
			color: gray;
			width: 4rem;
			text-align: center;
			font-size: 1rem;
			line-height: 2rem;
		}

		.hitem-price {
			min-width: 5rem;
			font-size: 1.2rem;
			line-height: 2rem;
		}

		.hitem-delete {
			display: none;
		}

		&:hover {
			background-color: #555555;
		}

		&:hover .hitem-delete {
			display: block;

			button {
				margin: 0;
				padding: 0;
				border: none;
				background: none;
				cursor: pointer;
			}
		}

		& * {
			line-height: 1;
		}

		&.earned {
			.hitem-category {
				background-color: $earned-color;
			}

			.hitem-price {
				color: $earned-color;
			}
		}

		&.spent {
			.hitem-category {
				background-color: $spent-color;
			}

			.hitem-price {
				color: $spent-color;
			}
		}
	}

	.label-checkbox {
		label {
			font-size: 1.4rem;
		}

		&.earned label {
			color: $earned-color;
		}

		&.spent label {
			color: $spent-color;
		}
	}

	.history-today-header {
		display: flex;
		border-top: 2px solid black;
		padding: 1rem 0;

		.hheader-day {
			flex-grow: 1;
			margin-left: 0.5rem;
			color: gray;
			font-size: 1.2rem;
		}
		.hheader-price {
			min-width: 4rem;
			padding-right: 6rem;
			text-align: right;
			font-size: 1.2rem;
			&.earned {
				color: $earned-color;
			}

			&.spent {
				color: $spent-color;
			}
		}
	}
}
