.signup-page {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;

	width: 500px;
	margin: 100px;
	border: 1.5px solid rgba(0, 0, 0, 0.25);
	padding: 60px 60px 20px;

	.signup-row {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 20px 0px;
		input,
		button {
			width: 100%;
		}
	}

	.title-label {
		padding-bottom: 8px;
		font-size: xx-large;
		font-weight: 700;
	}

	.signup-sector {
		flex-direction: column;
	}
}
