/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import './variables';
@import './mixins';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html,
body {
	height: 100%;
	line-height: 1;
	color: #fff;
	background: #333;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
select {
	min-height: 35px;
	font-family: inherit;
	font-size: 100%;
	outline: 0;
	margin: 0 0 20px;
	padding: 8px 12px 10px 12px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.25);
	color: #fff;
}

input::placeholder {
	color: rgba(255, 255, 255, 0.8);
}

input:focus {
	outline: 0;
}
